<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<main>
    <h1>Customers</h1>

    {#if customers.isEmpty}
        <p><i>No customers available</i></p>
    {/if}

    <a href="create.html">Create new customer</a>

    <ul>
        {#for customer in customers}
            <li>{customer.createdAt.format()}: {customer.name} {customer.email} {customer.customerType}</li>
        {/for}
    </ul>
</main>
</body>
</html>